@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.pl {
  display: block;
  width: 9.375em;
  height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pl__arrows {
  animation-name: arrows42;
  transform: rotate(45deg);
  transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
  transform-origin: 80px 80px;
}

.pl__ring-rotate {
  animation-name: ringRotate42;
}

.pl__ring-stroke {
  animation-name: ringStroke42;
  transform: rotate(-45deg);
}

.pl__tick {
  animation-name: tick42;
}

.pl__tick:nth-child(2) {
  animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
  animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
  animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
  animation-delay: -1s;
}

.pl__tick:nth-child(6) {
  animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
  animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
  animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes ringRotate42 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes ringStroke42 {
  from,
  to {
    stroke-dashoffset: 452;
    transform: rotate(-45deg);
  }

  50% {
    stroke-dashoffset: 169.5;
    transform: rotate(-180deg);
  }
}

@keyframes tick42 {
  from,
  3%,
  47%,
  to {
    stroke-dashoffset: -12;
  }

  14%,
  36% {
    stroke-dashoffset: 0;
  }
}

@keyframes bgMove {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

.bg-animate {
  background: linear-gradient(to bottom, #20214d, #000000);
  background-size: 100% 200%;
  animation: bgMove 3s ease-in-out infinite;
}

@keyframes bgAppear {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

.bg-animate-position {
  animation: bgAppear 1s ease-in-out forwards;
  background: #20214d; /* Ensure the background color is set */
  background-size: 100% 200%;
}

body {
  @apply font-sans;
}

/* this is used for chainging the color for suggested emails in Reset Password via otp
/* Targeting only the input with ID resetEmail */
#resetEmail:-webkit-autofill {
  -webkit-text-fill-color: #4a5568 !important; /* Ensure text color is applied */
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; /* Ensure background color is consistent */
  box-shadow: 0 0 0px 1000px #ffffff inset; /* Ensure background color is consistent */
  background-color: transparent !important; /* Ensure background color is consistent */
}

/* To handle autofill for both WebKit and other browsers */
#resetEmail:-moz-autofill {
  color: #4a5568 !important; /* Ensure text color is applied */
  background-color: transparent !important; /* Ensure background color is consistent */
}

#resetEmail:-webkit-autofill::placeholder {
  color: #4a5568 !important; /* Ensure placeholder color is applied */
}

#resetEmail::placeholder {
  color: #4a5568; /* Ensure placeholder color is consistent */
}
